<div class="page-title">
  <h5>
    <a routerLink="/fuse">Выплавка</a>
    <i class="tiny material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Добавить плавку': 'Редактировать плавку '}} {{fusepl}}
  </h5>
  <span>
    <button *ngIf="!isNew" class="btn btn-small red" (click)="deleteFuse()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<nav class="nav-extended">
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a (click)="onAddFuseId()">Идентификатор плавки</a></li>
      <li class="tab"><a class="active" href="#test2">Расчёт массы шихты</a></li>
      <li class="tab disabled"><a href="#test3">Шихтовые материалы</a></li>
      <li class="tab"><a href="#test4">Расчёт ферросплавов</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">JavaScript</a></li>
</ul>

<div id="test1" class="col s12">Test 1</div>
<div id="test2" class="col s12">Test 2</div>
<div id="test3" class="col s12">Test 3</div>
<div id="test4" class="col s12">Test 4</div>


<form class="col s12 m6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal card-position" #modalId>
    <div class="modal-content">
      <h4 class="mb1">Идентификатор плавки</h4>
      <div class="row">
        <div class="input-field">
          <input formControlName="fuse" id="fuse" type="text"
            [ngClass]="{'invalid': form.get('fuse').invalid && form.get('fuse').touched}">
          <label for="fuse">Номер плавки</label>
          <span class="helper-text red-text" *ngIf="form.get('fuse').invalid && form.get('fuse').touched">
            <span *ngIf="form.get('fuse').errors['required']">
              Номер плавки не может быть пустым.
            </span>
          </span>
        </div>
        <div class="input-field">
          <input formControlName="fuseDate" id="fuseDate" type="text" #start
            [ngClass]="{'invalid': form.get('fuseDate').invalid && form.get('fuseDate').touched}">
          <label for="fuseDate">Дата плавки</label>
          <span class="helper-text red-text" *ngIf="form.get('fuseDate').invalid && form.get('fuseDate').touched">
            <span *ngIf="form.get('fuseDate').errors['required']">
              Дата не может быть пустой.
            </span>
          </span>
        </div>
        <div class="input-field">
          <input formControlName="fuseCard" id="fuseCard" type="text">
          <label for="fuseCard">Номер плавильной карты</label>
          <span class="helper-text red-text" *ngIf="form.get('fuseCard').invalid && form.get('fuseCard').touched">
            <span *ngIf="form.get('fuseCard').errors['required']">
              Введите номер плавильной карты, поле не может быть пустым.
            </span>
          </span>
        </div>
        <div class="input-field">
          <input formControlName="alloy" id="alloy" type="text"
            [ngClass]="{'invalid': form.get('alloy').invalid && form.get('alloy').touched}">
          <label for="fuseCard">Марка стали</label>
          <span class="helper-text red-text" *ngIf="form.get('alloy').invalid && form.get('alloy').touched">
            <span *ngIf="form.get('alloy').errors['required']">
              Введите марку выплавляемой стали, поле не может быть пустым.
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-light btn btn-small" [disabled]="open" (click)="changeSetting()"><i
          class="material-icons">edit</i></button>
      <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat">Отмена</button>
      <button type="submit" [disabled]="form.invalid || form.disabled" class="waves-effect waves-light btn-small right">
        <span><i class="material-icons">save</i></span>
      </button>
    </div>
  </div>
</form>
