<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar nav-wrapper grey darken-1">
            <button mat-icon-button (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>
        <h4 class="brand-logo">Newborn</h4>        
    </mat-toolbar>
    
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="sidenav a-sidenav z-depth-3" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" role="navigation">
            <mat-nav-list >
                    <ul class="">
                            <li class="bold" routerLinkActive="active" *ngFor="let link of links">
                                <a [routerLink]="[link.url]" class="waves-effect waves-orange">
                                    {{link.name}}
                                </a>
                            </li>
                            <!--<li class="bold last"><a href="#" class="waves-effect waves-orange" (click)="logout($event)">Выйти</a></li>-->
                    </ul>
            </mat-nav-list>
        </mat-sidenav>
          
        <mat-sidenav-content role="main">
            <main class="content">
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
      
<a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">info</i></a>
      
<!--<div class="navbar-fixed">
    <nav>
        <div >
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a class="brand-logo">Newborn</a>
            <ul class="right">
                <li>
                    <a class="disabled"><i class="material-icons left ">person</i>User</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-orange" (click)="logout($event)">
                        <i class="material-icons">exit_to_app</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>-->




<!--SIDEBAR-->
<!--<ul class="sidenav sidenav-fixed a-sidenav z-depth-3 show-on-large">
    <h4>Newborn</h4>
    <li class="bold" routerLinkActive="active" *ngFor="let link of links">
        <a [routerLink]="[link.url]" class="waves-effect waves-orange">
            {{link.name}}
        </a>
    </li>
    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
    <li class="bold last"><a href="#" class="waves-effect waves-orange" (click)="logout($event)">Выйти</a></li>-->
<!--</ul>-->



<!--Floating button-->
<div class="fixed-action-btn" #floating>
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating green" routerLink="/order">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue" routerLink="/categories/new">
                <i class="material-icons">list</i>
            </a>
        </li>
    </ul>
</div>

