div.table-container {
  max-height: 800px;
  overflow: scroll;
  margin: -10px;
}

thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
}

tbody th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
}

thead th {
  background: #a1887f;
  color: #FFF;
}

tbody th {
  background: #ffcc80;
  border-right: 0px solid #CCC;
}

tbody td {
  background: #ffe0b2;
  border: 1px solid #CCC;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.3em;
}

.autocomplete {
  font-size: 10px;
}
