<div class="page-title">
    <h5>
        Аналитика
        <i class="material-icons black-text pointer" (click)="openInfo()">info_outline</i>
    </h5>

</div>

<div [style.display]="pending ? 'none' : 'block'">
    <div>
        <p style="font-size: 18px; margin-top: -10px; color:rgb(80, 80, 80) ">
            Средний чек: <strong>{{average}}</strong> грн.</p>
        <blockquote style="padding-left: 10px;margin-top: -10px; color:rgb(80, 80, 80)">
            по закупкам: <strong>{{averageIn}}</strong> грн.<br>
            по продажам: <strong>{{averageOut}}</strong> грн.
        </blockquote>
    </div>

    <div class="analytics-block pb3 z-depth-2 amber lighten-5">
        <h6 class="graf">Выручка</h6>
        <canvas #gain></canvas>
    </div>

    <div class="analytics-block pb3 z-depth-2 amber lighten-5">
        <h6 class="graf">Заказы</h6>
        <canvas #order></canvas>
    </div>
</div>


<app-loader *ngIf="pending"></app-loader>

<div class="tap-target" data-target="menu" #tapTarget>
    <div class="tap-target-content">
        <h5>Зачем нужна эта страница?</h5>
        <p>Страница “Аналитика” покажет динамику закупок и продаж за период. Если закупки превышают продажи -
            средний чек отрицательный.</p>
    </div>
</div>