div.table-container {
  max-height: 800px;
  overflow: scroll;
  margin: -10px;
}

thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  color: #669;
  padding: 10px 8px;
  background-color: #ffeccd;
  z-index: 200;
}

tbody th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
}

tbody th,
tbody td {
  padding: 0.4em;
  transition: .3s linear;
  background: #fff3e0;
  color: #669;
}
