<div class="page-title">
    <h5>Поставка</h5>
    <button class="waves-effect btn grey darken-1 modal-trigger" data-target="explore-order">
        Завершить
    </button>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card pointer card-panel hoverable">
            <div class="center">
                <img src="/uploads/metall_steel.jpg" class="responsive-img order-img">
            </div>
            <div class="card-content blue-grey-text text-darken-4 center p10">
                <h5 class="truncate m0">В разработке</h5>
            </div>
        </div>
    </div>
</div>