<div class="filter js-filter-blokc ">
    <div class="fr row">
        <div class="col">
            <div class="input-field inline material-vid-input">
                <input type="text" id="vid" [(ngModel)]="vid" style="font-size: 14px">
                <label for="number">Вид</label>
            </div>
        </div>
        <div class="col filter-pickers">

            <div class="input-field">
                <select #select1 [(ngModel)]="classSteel">
                    <option value="" selected>Без фильтра</option>
                    <option *ngFor="let cSt of arrClassSteel" [value]="cSt">{{cSt}}</option>
                </select>
                <label for="classSteel">Класс</label>
            </div>

            <div class="input-field">
                <select #select2 [(ngModel)]="groupSteel">
                    <option value="" selected>Без фильтра</option>
                    <option *ngFor="let gSt of arrGroupSteel" [value]="gSt">{{gSt}}</option>
                </select>
                <label for="groupSteel">Группа</label>
            </div>
        </div>
    </div>

    <button class="btn waves-effect wavers-light btn-small" (click)="submitFilter()">Применить фильтр</button>
</div>