<div class="row card z-depth-3" [ngStyle]="{backgroundColor: '#fff3e0'}">
  <div class="card-content">

    <span class="card-title center-align" style="margin-bottom: 20px;" *ngIf="users.length != 0">
      Персонал
      <button *ngIf="userRole != 'master'" class="btn btn-small waves-effect waves-red teal" (click)="saveAll()"
        [disabled]="saveCheckedList">
        <i class="material-icons">save</i>
      </button>
    </span>

    <div class="row" *ngIf="!loading; else loader">
      <div>
        <div class="col s12">
          <div class="table-container" [style.maxHeight.px]="height">
            <table class="highlight brown-text text-lighten-5">
              <thead>
                <tr>
                  <th>Подразделение</th>
                  <th>Email</th>
                  <th>Имя</th>
                  <th>Телефон</th>
                  <th *ngIf="userRole != 'master'">Роль</th>
                  <th>Чтение</th>
                  <th>Запись</th>
                  <th *ngIf="userRole != 'master'">Действие</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.shop}}</td>
                  <td>
                    <a class="btn-flat brown-text text-lighten-3"
                      href="mailto:user.email?subject=web app crmscrapfullstack.herokuapp" [title]="user.email"><i
                        class="small material-icons">markunread</i></a>
                  </td>
                  <td>{{user.nicname}}</td>
                  <td>
                    <a *ngIf="user.phone" class="btn-flat grey-text text-darken-4" href="tel: user.phone"
                      [title]="user.phone"><i class="small material-icons">phone</i></a>
                  </td>
                  <td *ngIf="userRole != 'master'">
                    <div class="input-fild">
                      <select type="text" name="role" #role="ngModel" [(ngModel)]="user.role" (click)="onChange(user)">
                        <option value="admin">админ</option>
                        <option value="boss">руководитель</option>
                        <option value="master">ИТР</option>
                        <option value="worker">рабочий</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="valign-wrapper hoverable">
                      <input type="checkbox" [(ngModel)]="user.flagRead" (change)="onChange(user)"
                        [disabled]='userRole === "master"'>
                    </div>
                  </td>
                  <td>
                    <div class="valign-wrapper hoverable">
                      <input type="checkbox" [(ngModel)]="user.flagWrite" (change)="onChange(user)"
                        [disabled]='userRole === "master"'>
                    </div>
                  </td>
                  <td class="center" *ngIf="userRole != 'master'">
                    <a class="collection-item collection-item-icon">
                      <span class="valign-wrapper">
                        <i class="material-icons" (click)="onDeleteUser($event, user)">delete</i>
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
