tbody th,
tbody td {
    padding: 0.4em;
    transition: .3s linear;
    border: 1px solid #acacac
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 1;
  pointer-events: visible;
}

select {
  display: inline-block;
  background-color: rgb(255 255 255 / 50%);
  padding: 0;
  border: 1px solid #00000033;
  border-radius: 3px;
  height: auto;
  cursor: pointer;
  width: 9rem;
  font-size: 1rem;
}


